<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-0.75}</string>
			<key>spriteSize</key>
			<string>{89,29}</string>
			<key>spriteSourceSize</key>
			<string>{90,31}</string>
			<key>textureRect</key>
			<string>{{0,1},{89,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-1.75}</string>
			<key>spriteSize</key>
			<string>{425,48}</string>
			<key>spriteSourceSize</key>
			<string>{429,52}</string>
			<key>textureRect</key>
			<string>{{0,31},{425,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-1.75}</string>
			<key>spriteSize</key>
			<string>{184,35}</string>
			<key>spriteSourceSize</key>
			<string>{187,38}</string>
			<key>textureRect</key>
			<string>{{426,31},{184,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.75}</string>
			<key>spriteSize</key>
			<string>{145,51}</string>
			<key>spriteSourceSize</key>
			<string>{148,55}</string>
			<key>textureRect</key>
			<string>{{0,80},{145,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-1.5}</string>
			<key>spriteSize</key>
			<string>{133,39}</string>
			<key>spriteSourceSize</key>
			<string>{136,42}</string>
			<key>textureRect</key>
			<string>{{611,31},{133,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet.png</string>
		<key>size</key>
		<string>{745,131}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet.png</string>
	</dict>
</dict>
</plist>
